bin/
lib/
obj/
src/zimpl/mmlparse2.c
src/zimpl/mmlparse2.h
src/zimpl/mmlparse2.output
src/zimpl/mmlscan.c
build/
build*/
debug/
release/
.vscode/
*~
doc/zimpl.aux
doc/zimpl.bbl
doc/zimpl.blg
doc/zimpl.dvi
doc/zimpl.log
doc/zimpl.out
doc/zimpl.ps
doc/zimpl.toc
doc/zimplug.aux
