bin/
lib/
obj/
src/mmlparse2.c
src/mmlparse2.h
src/mmlparse2.output
src/mmlscan.c
build/
debug/
release/
.vscode/
*~
doc/zimpl.aux
doc/zimpl.bbl
doc/zimpl.blg
doc/zimpl.dvi
doc/zimpl.log
doc/zimpl.out
doc/zimpl.ps
doc/zimpl.toc
doc/zimplug.aux
