FancyIndexing on
IndexOptions NameWidth=*
HeaderName header.html
IndexIgnore .. header.html
AddDescription "Linux, optimized for P4" *linux.x86.*.opt-p4 
AddDescription "Linux/Intel 64bit" *linux.x86_64.* 
AddDescription "Linux/Intel" *linux.x86.* 
AddDescription "Solaris" *sunos*
AddDescription "AIX Power4 64bit" *aix.pwr4*
AddDescription "HP-UX" *hp-ux*
AddDescription "Tru64/OSF1" *osf1*
AddDescription "IRIX" *irix*
AddDescription "MacOS-X" *darwin*
AddDescription "Use this for Windooze" *win*exe
AddDescription "Zimpl User Guide" zimpl.pdf
AddDescription "List of recent changes" CHANGELOG*
AddDescription "Source code" zimpl*tgz
AddDescription "Emacs syntax highlight." zimpl-mode.el
AddDescription "Kate syntax highlight." zimpl-kate.xml
